---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <!-- end preloader -->
  <!-- Start header -->
  <div class="invitation-header style-2">
    <a class="back-btn" href="index.html"><i class="ti-back-left"></i></a>
  </div>
  <!-- end of header -->
  <!-- start of hero -->
  <section
    class="wpo-coming-soon-area"
    style="
    background: url(https://cdn.pixabay.com/photo/2019/12/30/20/34/road-4730553_1280.jpg) no-repeat center
      center;
    background-size: cover;
  "
  >
    <div class="hero-container">
      <div class="hero-inner">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div
                class="wpo-event-wrap wow fadeInLeftSlow"
                data-wow-duration="1200ms"
              >
                <div class="wpo-event-item">
                  <div class="coming-soon-section">
                    <div class="row justify-content-center">
                      <div class="col-lg-8">
                        <div class="coming-soon-text">
                          <h2>Vrijeme do polaska</h2>
                          <p></p>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <!-- start wpo-wedding-date -->
                        <div class="wpo-wedding-date">
                          <h2 class="hidden">some</h2>
                          <div class="clock-grids">
                            <div id="clock"></div>
                          </div>
                        </div>
                        <!-- end wpo-wedding-date -->
                      </div>
                      <div class="col-lg-12">
                        <div class="wpo-coming-contact"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-shape-1"></div>
                <div class="frame-shape-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of hero slider -->
</Layout>
<style>
  h2 {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
</style>
